/* Phone design inpired from: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_device_smartphone */
/* The device with borders */
.smartphone {
    position: relative;
    width: 360px;
    height: 640px;
    margin: auto;
    border: 16px black solid;
    border-top-width: 60px;
    border-bottom-width: 60px;
    border-radius: 36px;
  }
  
  /* The horizontal line on the top of the device */
  .smartphone:before {
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 10px;
  }
  
  
  /* The screen (or content) of the device */
  .smartphone .content {
    width: 360px;
    height: 500px;
    background: white;
    position: relative;
  }
  .Personal_Records_Div{
    border: 5px solid;
    margin: auto;
    width: 70%;
    padding: 27px;
    margin-top: 160px;
    overflow: auto;
    min-height: 150px;
    max-height: 150px;
  }

  .menu{
    border: 5px solid;
    margin: auto;
    width: 95%;
    height: 30px;
    float: left;
    margin-left: -8px;
    padding: 10px;
    margin-top: 50px;
    position: absolute;
    bottom: 0;
  }
  .profile_page{
    margin-top: -8px;
    margin-left: 70px;
  }
  .groups_page{
    margin-top: -35px;
    margin-left: 150px;
  }
  .leaderboard{
    margin-top: -45px;
    margin-left:250px;
  }
  .add_workout{
    position: absolute;
    margin: auto;
    width: 95%;
    height: 30px;
    margin-left: -8px;
    padding: 10px;
    margin-top: 20px;
  }

  .profile_page{
    cursor: pointer;
  }
  .profile_page{
    cursor: pointer;
  }
  .profile_page{
    cursor: pointer;
  }
